<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Thiết bị điện tử, đồ gia dụng</h1>
        <h2>Tất cả các loại  Smart TV, máy in 3D,…</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/appliance.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm Thiết bị điện tử</p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/tv-thong-minh.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình hiện nay</a></h4>
            <p class="description">Thời đại công nghệ phát triển, kèm theo đó là sự ra đời của những thiết bị điện tử hiện đại như là:
             tivi thông minh, tủ lạnh thông minh,... Đến những chiếc máy in 3D đắt tiền. Nhưng khi gặp khó khăn thì những thứ đó cũng hỗ, trọ
            một phần kinh tế cho những lúc khó khăn của bạn.</p>
          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Tuy nhiên, không phải nơi nào cũng chấp nhận cầm những đồ thiết bị điện tử, hoặc cầm với lãi suất tốt.
              Rất nhiều tiệm không thể đánh giá đúng giá trị tài sản của bạn, hoặc đưa ra mức lãi suất vô cùng cao,
              gây khó khăn cho người đi cầm. </p>
            <p class="description">Tại DANA88 tài sản của bạn được bảo quản cẩn thận và đảm bảo nguyên vẹn khi hoàn trả </p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">



      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Ưu điểm khi sử dụng dịch vụ tại DANA88</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/img_pawn/3D.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Vậy tại sao bạn nên chọn cầm đồ tại DANA88 mà không phải là nơi khác?</h3>
          <ul>
            <li><i class="bi bi-check"></i> Thời gian thanh toán khoản vay linh hoạt.</li>
            <li><i class="bi bi-check"></i> Miễn phí bảo hiểm tài sản.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ đến tận nhà để lấy đồ và chuyển khoản cho bạn trong trường hợp gấp và không thể đến DANA88.</li>
            <li><i class="bi bi-check"></i> Đảm bảo tuân thủ khâu bảo quản tài sản theo tiêu chuẩn (dùng tủ kính chống ẩm) để giữ gìn nguyên vẹn chất lượng máy</li>
            <li><i class="bi bi-check"></i> Chính sách bồi hoàn vô cùng hấp dẫn, DANA88 sẽ không để bạn chịu bất kỳ tổn thất nào nếu có vấn đề xảy ra với tài sản mà bạn cầm.</li>
            <li><i class="bi bi-check"></i> Và quan trọng hơn cả, mọi thông tin của khách hàng đều sẽ được bảo mật để bảo đảm uy tín và hình ảnh của bạn.</li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Quy Trình Cầm Đồ Tại DANA88</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/img_pawn/thu-tuc-cam-do.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <p class="fst-italic">
            Có thể nói, quy trình cầm đồ tại DANA88 vô cùng đơn giản và nhanh gọn,
            mang đến nhiều sự tiện lợi cho những ai đang cần dùng dịch vụ.
            Để sử dụng dịch vụ cầm đồ của DANA88, bạn chỉ cần:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Chụp một vài tấm hình thể hiện được tình trạng của chiếc máy.</li>
            <li><i class="bi bi-check"></i> Đăng ký vài thông tin đơn giản.</li>
            <li><i class="bi bi-check"></i> Chúng tôi sẽ báo giá trong ít phút.</li>
            <li><i class="bi bi-check"></i> Nhân viên của DANA88 sẽ trực tiếp đến nhà nhận máy.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->

