<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Cầm túi xách</h1>
        <h2>Túi xách, ví, balo, vali của các thương hiệu như: LV, Hermes, Gucci, Chanel, YSL,…</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/bag.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm túi xách hàng hiệu </p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/tui-xach.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình hiện nay</a></h4>
            <p class="description">Ở nước ta có rất nhiều người thích sử dụng túi xách hàng hiệu cao cấp.
              Những mẫu túi xách này vừa có thể trở thành một phụ kiện hữu dụng,
              đồng thời còn nâng tầm giá trị của chính bản thân người dùng.
              Khi gặp các vấn đề khó khăn về tài chính,
              những loại túi xách hàng hiệu này
              cũng được sử dụng làm tài sản cầm cố hệt như ô tô, xe máy vì giá trị thực tế của nó rất cao.
              </p>
          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Tuy nhiên, không phải cơ sở cầm đồ nào cũng đủ khả năng để định giá được giá trị của những mặt hàng high-class như thế,
              cũng như không phải nơi đâu, sau khi cầm cố, khách hàng còn nhận được nguyên vẹn sản phẩm của mình, mà không bị đánh tráo, làm giả.
              Bài viết này sẽ giúp cho các khách hàng tìm ra cho mình địa chỉ cầm đồ hàng hiệu uy tín, an toàn, giá tốt. </p>
            <h4 class="title"><a href="">Nhận cầm các loại túi hiệu</a></h4>
            <p class="description">Khách hàng khi đến với DANA88 có thể kiểm định và cầm các loại túi xách thuộc những brands sau:
              <span style="font-weight: bold">Hermes, Chanel, Dior, Louis Vuitton, Gucci, Goyard, Celine, Fendi, Bottega Veneta, Saint Laurence, Burberry,
              Balenciaga, Chloe, Prada và Coach.</span></p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">



      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Ưu điểm khi sử dụng dịch vụ tại DANA88</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/img_pawn/hop-dung-tui-xach.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Vậy tại sao bạn nên chọn cầm túi xách hàng hiệu tại DANA88 mà không phải là nơi khác?</h3>
          <ul>
            <li><i class="bi bi-check"></i> Lãi suất vay hợp lý</li>
            <li><i class="bi bi-check"></i> Thời gian thanh toán khoản vay linh hoạt.</li>
            <li><i class="bi bi-check"></i> Miễn phí bảo hiểm tài sản.</li>
            <li><i class="bi bi-check"></i> Thẩm định cẩn thận, chính xác và cho vay tới 90% giá trị tài sản.</li>
            <li><i class="bi bi-check"></i> Giải ngân vốn vay nhanh, chỉ sau 30 phút.</li>
            <li><i class="bi bi-check"></i> Hợp đồng cầm cố rõ ràng, có tính pháp lý.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ đến tận nhà để lấy đồ và chuyển khoản cho bạn trong trường hợp gấp và không thể đến DANA88.</li>
            <li><i class="bi bi-check"></i> Tài sản được niêm phong trước sự chứng kiến của khách hàng và bảo quản theo quy trình chuyên nghiệp.</li>
            <li><i class="bi bi-check"></i> Chính sách bồi hoàn vô cùng hấp dẫn, DANA88 sẽ không để bạn chịu bất kỳ tổn thất nào nếu có vấn đề xảy ra với tài sản mà bạn cầm.</li>
            <li><i class="bi bi-check"></i> Và quan trọng hơn cả, mọi thông tin của khách hàng đều sẽ được bảo mật để bảo đảm uy tín và hình ảnh của bạn.</li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Quy Trình Cầm túi xách hàng hiệu Tại DANA88</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/img_pawn/thu-tuc-cam-do.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <p class="fst-italic">
            Có thể nói, quy trình cầm túi xách hàng hiệu tại DANA88 vô cùng đơn giản và nhanh gọn,
            mang đến nhiều sự tiện lợi cho những ai đang cần dùng dịch vụ.
            Để sử dụng dịch vụ cầm cầm túi xách hàng của DANA88, bạn chỉ cần:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Chụp một vài tấm hình thể hiện được tình trạng của chiếc túi của bạn.</li>
            <li><i class="bi bi-check"></i> Đăng ký vài thông tin đơn giản.</li>
            <li><i class="bi bi-check"></i> Chúng tôi sẽ báo giá trong ít phút.</li>
            <li><i class="bi bi-check"></i> Nhân viên của DANA88 sẽ trực tiếp đến nhà nhận túi xách.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->
