<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Cầm xe máy</h1>
        <h2>Các loại xe máy như AirBlade, Winner, Sh, Click, Vespa, Vision,…</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/bike.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm Đồ Xe Máy An Toàn</p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/bao-quan-xe-may.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình hiện nay</a></h4>
            <p class="description">Với sự phát triển của công nghệ hiện đại,
              Ở Việt Nam, xe máy là phương tiện đi lại phổ biến trong đời sống hàng ngày.
              Khi các phương tiện công cộng đã phổ biến hay đã có các ứng dụng đặt xe như Grab/ Gojek,
              cầm xe máy có thể xem là giải pháp phù hợp khi cần giải quyết gấp vấn đề tài chính cá nhân.
            </p>

          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Tuy nhiên, không phải nơi nào cũng chấp nhận cầm xe máy giá cao, hoặc cầm với lãi suất tốt.
              Rất nhiều tiệm không thể đánh giá đúng giá trị xe máy, hoặc đưa ra mức lãi suất vô cùng cao,
              gây khó khăn cho người đi cầm. </p>
            <p class="description">DANA88 nhận cầm xe máy với lãi suất cầm xe máy với lãi suất cầm xe máy siêu rẻ trên địa bàn và
              các tỉnh lân cận uy tín và đảm bảo. Tại DANA88, xe máy của bạn được niêm phong số km,
              xác nhận tình trạng xe khi bàn giao, được cất giữ và bảo quản tại Gara xe tại tầng hầm của
              Công ty và có bảo vệ trông giữ 24/24 cũng như bảo hiểm cháy nổ.
              Chúng tôi đảm bảo 100% niêm phong tài sản vẹn nguyên như lúc ban đầu.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">



      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Ưu điểm khi sử dụng dịch vụ tại DANA88</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/img_pawn/niem-phong-xe-may.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Vậy tại sao bạn nên chọn cầm xe máy tại DANA88 mà không phải là nơi khác?</h3>
          <ul>
            <li><i class="bi bi-check"></i> Thời gian thanh toán khoản vay linh hoạt.</li>
            <li><i class="bi bi-check"></i> Định giá tài sản cao lên đến 90%, cụ thể là xe máy</li>
            <li><i class="bi bi-check"></i> Miễn phí bảo hiểm tài sản.</li>
            <li><i class="bi bi-check"></i> Có thể lựa chọn hình thức cầm cố ngắn hạn, trung hạn và dài hạn tùy nhu cầu.</li>
            <li><i class="bi bi-check"></i> Mức định giá tài sản tốt, mang lại lợi ích cho khách hàng.</li>
            <li><i class="bi bi-check"></i> Thời gian giải ngân nhanh chóng, giúp khách hàng giải quyết kịp thời các vấn đề tài chính.</li>
            <li><i class="bi bi-check"></i> Tài sản cầm cố, ở đây là xe máy, sẽ được đơn vị niêm phong dưới sự chứng kiến của khách hàng.</li>
            <li><i class="bi bi-check"></i> Xe máy được bảo quản trong kho bãi với diện tích lớn, có mái che đầy đủ, không gian sạch sẽ.</li>
            <li><i class="bi bi-check"></i> Kho bảo quản có bảo vệ trông coi 24/24, camera giám sát hoạt động liên tục và trang bị đầy đủ các thiết bị phòng cháy chữa cháy.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ đến tận nhà để lấy đồ và chuyển khoản cho bạn trong trường hợp gấp và không thể đến DANA88.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ, giải đáp mọi thắc mắc của khách hàng 24/7.</li>
            <li><i class="bi bi-check"></i> Chính sách bồi hoàn vô cùng hấp dẫn, DANA88 sẽ không để bạn chịu bất kỳ tổn thất nào nếu có vấn đề xảy ra với tài sản mà bạn cầm.</li>
            <li><i class="bi bi-check"></i> Và quan trọng hơn cả, mọi thông tin của khách hàng đều sẽ được bảo mật để bảo đảm uy tín và hình ảnh của bạn.</li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Quy Trình Cầm xe máy Tại DANA88</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/img_pawn/thu-tuc-cam-do.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <p class="fst-italic">
            Có thể nói, quy trình cầm xe máy tại DANA88 vô cùng đơn giản và nhanh gọn,
            mang đến nhiều sự tiện lợi cho những ai đang cần dùng dịch vụ.
            Để sử dụng dịch vụ cầm xe máy của DANA88, bạn chỉ cần:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Giấy chứng minh nhân dân hoặc căn cước công dân của chủ xe/người cầm cố</li>
            <li><i class="bi bi-check"></i> Giấy đăng ký xe của chủ xe</li>
            <li><i class="bi bi-check"></i> Chụp một vài tấm ảnh chi tiết về tình trạng của xe máy.</li>
            <li><i class="bi bi-check"></i> Đăng ký thông tin đơn giản theo mẫu.</li>
            <li><i class="bi bi-check"></i> Chúng tôi sẽ báo giá trong ít phút.</li>
            <li><i class="bi bi-check"></i> Nhân viên của DANA88 sẽ trực tiếp đến nhà nhận tài sản.</li>
            <li><i class="bi bi-check"></i> Bạn sẽ nhận tiền ngay sau khi ký kết hợp đồng.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->
