<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Cầm Máy Tính</h1>
        <h2>Các loại máy tính như Macbook, MSI, Asus, Dell, Vaio,…</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/laptop.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm Laptop-Máy tính An Toàn</p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/niem-phong-may-tinh.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình hiện nay</a></h4>
            <p class="description">Là một sinh viên học xa nhà hay một nhân viên công sở có lúc gặp tình trạng thiếu tiền đột xuất
              vào cuối tháng là điều rất bình thường. Việc cầm một chiếc
              laptop hoặc máy tính có thể là một giải pháp hữu hiệu và nhanh chóng để có ngay tiền mặt để xoay xở vấn đề trước mắt.
            </p>
          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Khi cần cầm đồ laptop,cầm máy tính bàn nhiều khách hàng cảm thấy phân vân không biết
              chọn cho mình cơ sở cầm đồ nào uy tín, chất lượng giữa hàng trăm các tiệm cầm đồ mọc lên như nấm thì
              DANA88 chính là lựa chọn hoàn hảo cho các khách hàng</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">



      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Ưu điểm khi sử dụng dịch vụ tại DANA88</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/img_pawn/may-tinh.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Vậy tại sao bạn nên chọn cầm laptop- máy tính tại DANA88 mà không phải là nơi khác?</h3>
          <ul>
            <li><i class="bi bi-check"></i> Thời gian thanh toán khoản vay linh hoạt.</li>
            <li><i class="bi bi-check"></i> Có hợp đồng cầm cố chi tiết, rõ ràng chứ không chỉ là biên lai đơn thuần.</li>
            <li><i class="bi bi-check"></i> Miễn phí bảo hiểm tài sản.</li>
            <li><i class="bi bi-check"></i> Có nơi bảo quản tài sản sạch sẽ, khô ráo.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ đến tận nhà để lấy đồ và chuyển khoản cho bạn trong trường hợp gấp và không thể đến DANA88.</li>
            <li><i class="bi bi-check"></i>Tài sản khi cầm cố sẽ được niêm phong, có chữ ký của khách hàng để đảm bảo tài sản không bị thay thế thiết bị hay bị sử dụng.</li>
            <li><i class="bi bi-check"></i> Chính sách bồi hoàn vô cùng hấp dẫn, DANA88 sẽ không để bạn chịu bất kỳ tổn thất nào nếu có vấn đề xảy ra với tài sản mà bạn cầm.</li>
            <li><i class="bi bi-check"></i> Và quan trọng hơn cả, mọi thông tin của khách hàng đều sẽ được bảo mật để bảo đảm uy tín và hình ảnh của bạn.</li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Quy Trình Cầm Đồ laptop- máy tính Tại DANA88</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/img_pawn/thu-tuc-cam-do.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <p class="fst-italic">
            Có thể nói, quy trình cầm laptop- máy tính tại DANA88 vô cùng đơn giản và nhanh gọn,
            mang đến nhiều sự tiện lợi cho những ai đang cần dùng dịch vụ.
            Để sử dụng dịch vụ cầm laptop- máy tính của DANA88, bạn chỉ cần:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Chụp một vài tấm hình thể hiện được tình trạng của chiếc máy.</li>
            <li><i class="bi bi-check"></i> Đăng ký vài thông tin đơn giản.</li>
            <li><i class="bi bi-check"></i> Chúng tôi sẽ báo giá trong ít phút.</li>
            <li><i class="bi bi-check"></i> Nhân viên của DANA88 sẽ trực tiếp đến nhà nhận máy.</li>
            <li><i class="bi bi-check"></i> Đặc biệt, bạn có thể lựa chọn nhận tiền trực tiếp hoặc thông qua hình thức chuyển khoản.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->
