

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">

      <p>Đối tác kinh doanh</p>
    </div>
    <div id="logos-home-page">
      <div class="slider">
        <div class="slide-track">
          <div class="slide"><img class="alignnone size-full wp-image-13024" src="assets/img/clients/client-1.png" alt="" width="60" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13023" src="assets/img/clients/client-2.png" alt="" width="110" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13022" src="assets/img/clients/client-3.png" alt="" width="188" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13021" src="assets/img/clients/client-4.png" alt="" width="60" height="60" /></div>
          <div class="slide"><img class="alignnone size-full wp-image-13020" src="assets/img/clients/client-5.png" alt="" width="285" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13019" src="assets/img/clients/client-6.png" alt="" width="184" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13018" src="assets/img/clients/client-7.png" alt="" width="73" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13017" src="assets/img/clients/client-8.png" alt="" width="79" height="60" /></div>
          <div class="slide"><img class="alignnone size-full wp-image-13024" src="assets/img/clients/client-1.png" alt="" width="60" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13023" src="assets/img/clients/client-2.png" alt="" width="110" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13022" src="assets/img/clients/client-3.png" alt="" width="188" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13021" src="assets/img/clients/client-4.png" alt="" width="60" height="60" /></div>
          <div class="slide"><img class="alignnone size-full wp-image-13020" src="assets/img/clients/client-5.png" alt="" width="285" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13019" src="assets/img/clients/client-6.png" alt="" width="184" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13018" src="assets/img/clients/client-7.png" alt="" width="73" height="60" /></div>
          <div class="slide"><img class="alignnone size-medium wp-image-13017" src="assets/img/clients/client-8.png" alt="" width="79" height="60" /></div>


        </div>
      </div>
    </div>


  </div>
</section><!-- End Clients Section -->
