<div id="fixed-phone-number" class="fixed-phone-number">
  <a href="tel:1234567890"><i class='bx bxs-phone-call'></i></a>
</div>
<footer id="footer">

  <div class="section-assurance ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8" style="margin-top: 50px;">
          <div class="assurance-title">
            <p>Luôn an tâm vì tài sản được niêm phong bằng tem và bảo quản với quy trình chuyên nghiệp.</p>
          </div>
          <div class="assurance-content">
            <ul>
              <li><i class='bx bxs-check-square'></i>
                <p>Khoản vay linh hoạt từ 3-12 tháng</p>
              </li>
              <li><i class='bx bxs-check-square'></i>
                <p>Lãi suất vay trong hạn chỉ từ 18%/năm</p>
              </li>
              <li><i class='bx bxs-check-square'></i>
                <p>Tài sản được đảm bảo an toàn 100%</p>
              </li>
              <li><i class='bx bxs-check-square'></i>
                <p>Thời hạn vay linh hoạt, có thể trả trước hạn - không phí phạt</p>
              </li>
            </ul>
          </div>
          <div class="assurance-title">
            <p>Ví dụ: Khách hàng cầm cố tài sản 10.000.000 đồng trong 1 năm. Lãi suất 1 năm phải trả từ 1.800.000 đồng.
              Tổng số tiền phải trả sau 1 năm sẽ từ 11.800.000 đồng. Bạn có thể chọn trả lãi hàng tháng,
              không bắt buộc trả nợ gốc hàng tháng. Lãi suất được tính linh hoạt theo thời gian thực vay,
              không có phí phạt nếu trả nợ trước hạn.</p>
          </div>
        </div>
        <div class="col-md-4 " style="margin-top: 50px;">
          <img src="assets/img/pawn/shield.dcfd0a20.png" class="img-fluid" alt="">
          <div class="content">
            <p>Niêm phong và bảo quản <span>với quy trình chuyên nghiệp</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>DANA<span style="color: #eb5d1e;">88</span></h3>
          <p>
            Số 280 Trần Hưng Đạo<br>
            Phường An Hải Tây<br>
            Quận Sơn Trà, TP Đà Nẵng<br><br>
            <strong>Phone:</strong><a style="margin-left: 5px;" href="tel:0905846724">0905846724</a><br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Liên kết hữu ích</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Liên hệ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Dịch vụ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản& Cam kết</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Thời gian hoạt động</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Mở cửa</li>
            <li><i class="bx bx-chevron-right"></i> 8:00</li>
            <li><i class="bx bx-chevron-right"></i> Đóng cửa</li>
            <li><i class="bx bx-chevron-right"></i> 20:00</li>
            <li><i class="bx bx-chevron-right"></i> Làm việc từ T2- T7</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Mạng xã hội của chúng tôi</h4>
          <p>Tìm hiểu và liên hệ với chúng tôi qua các ứng dụng</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong>DANA<span>88</span></strong>. Đã đăng ký bản quyền
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
      Được thiết kế bởi A0522I1
    </div>
  </div>
</footer><!-- End Footer -->

