<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Cầm Vàng, Trang Sức</h1>
        <h2>Vàng, trang sức chế tác từ vàng</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/gold.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm Vàng, Trang Sức </p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/muavang.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình hiện nay</a></h4>
            <p class="description">Tương tự như cầm xe máy, cầm điện thoại, cầm máy tính, cầm ô tô,…
              cầm vàng cũng là một lựa chọn của rất nhiều người khi gặp khó khăn về tài chính. Có thể hiểu một cách đơn giản rằng,
              cầm vàng là một hình thức vay vốn có tài sản thế chấp và nơi vay cầm vàng là các tiệm cầm đồ.</p>
          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Khi cầm vàng, bạn sẽ nhận được một số tiền tương ứng với thời hạn vay
              nhất định và phải trả lãi suất cho tiệm cầm đồ theo như đã thỏa thuận.
              Trong thời gian cầm vàng, tiệm cầm đồ sẽ được giữ lại vàng của bạn và có trách nhiệm bảo quản, cất giữ.</p>
            <p class="description">Bạn có thể sử dụng vàng miếng hoặc vàng trang sức để cầm đồ.
              Hình thức vay cầm đồ bằng vàng diễn ra nhanh chóng, đơn giản, không đòi hỏi thủ tục phức tạp.
              Tuy nhiên, bạn sẽ chỉ có thể vay được khoản tiền thấp hơn giá trị của số vàng cầm cố theo giá trị trường.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">



      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Ưu điểm khi sử dụng dịch vụ tại DANA88</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/img_pawn/trang-suc-vang.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Vậy tại sao bạn nên chọn cầm vàng, trang sức tại DANA88 mà không phải là nơi khác?</h3>
          <ul>
            <li><i class="bi bi-check"></i> Thời gian thanh toán khoản vay linh hoạt.</li>
            <li><i class="bi bi-check"></i> Miễn phí bảo hiểm tài sản.</li>
            <li><i class="bi bi-check"></i> Hỗ trợ đến tận nhà để lấy đồ và chuyển khoản cho bạn trong trường hợp gấp và không thể đến DANA88.</li>
            <li><i class="bi bi-check"></i> Đảm bảo tuân thủ khâu bảo quản tài sản theo tiêu chuẩn để giữ gìn nguyên vẹn chất lượng . Từ lúc mang đến cho đến lúc bạn nhận lại
              lại tài sản của mình về thì đảm bảo không bị
              bất tác động nào.</li>
            <li><i class="bi bi-check"></i> Chính sách bồi hoàn vô cùng hấp dẫn, DANA88 sẽ không để bạn chịu bất kỳ tổn thất nào nếu có vấn đề xảy ra với tài sản mà bạn cầm.</li>
            <li><i class="bi bi-check"></i> Và quan trọng hơn cả, mọi thông tin của khách hàng đều sẽ được bảo mật để bảo đảm uy tín và hình ảnh của bạn.</li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="section-title">
          <p>Quy Trình Cầm vàng, trang sức Tại DANA88</p>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/img_pawn/thu-tuc-cam-do.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <p class="fst-italic">
            Có thể nói, quy trình cầm vàng, trang sức bằng vàng ảnh tại DANA88 vô cùng đơn giản và nhanh gọn,
            mang đến nhiều sự tiện lợi cho những ai đang cần dùng dịch vụ.
            Để sử dụng dịch vụ của DANA88, bạn chỉ cần:
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Chụp một vài tấm hình thể hiện được tình trạng của tài sản bạn có.</li>
            <li><i class="bi bi-check"></i> Đính kèm những giấy tờ có liên quan đến giá trị tài sản của bạn</li>
            <li><i class="bi bi-check"></i> Đăng ký vài thông tin đơn giản.</li>
            <li><i class="bi bi-check"></i> Chúng tôi sẽ báo giá trong ít phút.</li>
            <li><i class="bi bi-check"></i> Nhân viên của DANA88 sẽ trực tiếp đến nhà nhận</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->
