<app-header></app-header>
<!--<app-body-page></app-body-page>-->
<!--<app-camera></app-camera>-->
<!--<app-car></app-car>-->
<!--<app-bike></app-bike>-->
<!--<app-watch></app-watch>-->
<!--<app-estate></app-estate>-->
<!--<app-bag></app-bag>-->
<!--<app-phone></app-phone>-->
<!--<app-laptop></app-laptop>-->
<!--<app-diamond></app-diamond>-->
<!--<app-gold></app-gold>-->
<!--<app-appliance></app-appliance>-->
<router-outlet></router-outlet>
<app-article></app-article>
<app-pawn-form-customer></app-pawn-form-customer>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>
