<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Cần tiền mặt ngay?</h1>
        <h2>Hãy mang tài sản của bạn đến với DANA88!</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">


  <!-- ======= About Section Tin tức ======= -->
  <section id="about" class="portfolio">
    <div class="section-title">
      <p>Tin tức - Ưu đãi</p>
    </div>
    <!--      <section id="feature-slider" class="feature-slider">-->
    <div class="container-md" data-aos="fade-up">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-1.png');">
                  <!--                      <div class="img-bg-inner">-->
                  <!--                        <h2>Gói vay mới - cầm đồ online</h2>-->
                  <!--                      </div>-->
                </a>
              </div>

              <div class="swiper-slide">
                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-landscape-2.jpg');">
                  <!--                      <div class="img-bg-inner">-->
                  <!--                        <h2>xe còn đó, vẫn có tiền xài</h2>-->
                  <!--                      </div>-->
                </a>
              </div>

              <div class="swiper-slide">
                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-3.jpg');">
                  <!--                      <div class="img-bg-inner">-->
                  <!--                        <h2>giảm đến 20% lãi suất & chi phí vay từ ngày 03/04/2023</h2>-->
                  <!--                      </div>-->
                </a>
              </div>

              <div class="swiper-slide">
                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-4.jpg');">
                  <!--                      <div class="img-bg-inner">-->
                  <!--                        <h2>giới thiệu thành công, hoa hồng đầy ví</h2>-->
                  <!--                      </div>-->
                </a>
              </div>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="align-content-center justify-content-center" data-aos="fade-up">
      <a href="category.html" class="btn-see-more scrollto">Xem thêm</a>
    </div>

    <!--      </section>&lt;!&ndash; End Hero Slider Section &ndash;&gt;-->

  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Chúng tôi cam kết thực hiện theo</h2>
        <p>Quy Trình</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/step1-min.ef29b027.png" alt="">
            </div>
            <h4 class="title" >Bước 1</h4>
            <p class="description">Gửi thông tin tài sản</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/step2-min.ca692b5f.png" alt="">
            </div>
            <h4 class="title">Bước 2</h4>
            <p class="description">Nhận định giá miễn phí</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/step3-min.c7bf5aff.png" alt="">
            </div>
            <h4 class="title">Bước 3</h4>
            <p class="description">Thẩm định tài sản & nhận tiền</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/step4-min.d6f582d5.png" alt="">
            </div>
            <h4 class="title">Bước 4</h4>
            <p class="description">Hoàn trả khoản vay & nhận lại tài sản</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="text-transform: capitalize;">Chúng tôi có thể nhận bất kỳ tài sản nào bạn có!</h2>
        <p>Tài sản chấp nhận</p>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a routerLink="/bike"><img src="assets/img/pawn/bike.png" class="img-fluid"  alt="">
            </a>
            <div class="portfolio-links">
              <!-- <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
            </div>
            <div class="portfolio-info">
              <h4>Xe máy</h4>
              <!-- <p>App</p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/car"><img src="assets/img/pawn/car.png" class="img-fluid" alt="">
            </a>
            <div class="portfolio-links">

            </div>
            <div class="portfolio-info">
              <h4>Ô tô</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a routerLink="/camera"><img src="assets/img/pawn/camera.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">

            </div>
            <div class="portfolio-info">
              <h4>Máy ảnh</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <a routerLink="/bag"><img src="assets/img/pawn/bag.png" class="img-fluid" alt=""></a>

            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Túi xách</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/estate"><img src="assets/img/pawn/estate.png" class="img-fluid" alt=""></a>

            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Nhà đất</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a routerLink="/diamond"><img src="assets/img/pawn/diamond.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">

            </div>
            <div class="portfolio-info">
              <h4>Kim cương</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <a routerLink="/phone"><img src="assets/img/pawn/phone.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Điện thoại</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <a routerLink="/laptop-computer"><img src="assets/img/pawn/laptop.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Máy tính</h4>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/watch"><img src="assets/img/pawn/watch.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Đồng hồ</h4>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/gold"><img src="assets/img/pawn/gold.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Trang sức</h4>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/appliance"><img src="assets/img/pawn/appliance.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Thiết bị gia dụng</h4>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <a routerLink="/art"><img src="assets/img/pawn/art.png" class="img-fluid" alt=""></a>
            <div class="portfolio-links">
            </div>
            <div class="portfolio-info">
              <h4>Khác...</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>F.A.Q</h2>
        <p>Câu hỏi thường gặp tại DANA88</p>
      </div>

      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Tài sản cầm được bảo quản như thế nào? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Đến với dịch vụ của chúng tôi, sản phẩm của khách hàng sẽ được niêm phong và bảo quản theo quy trình chặt chẽ, minh bạch. Khách hàng ký tên lên niêm phong và theo dõi suốt quá trình niêm phong sản phẩm.

              Sản phẩm sau khi niêm phong sẽ được bảo quản cẩn thận trong két sắt. Khách hàng sẽ được nhận biên nhận cầm tài sản với điều khoản rõ ràng. Khi chuộc đồ, khách hàng có thể kiểm tra lại niêm phong và tài sản của mình.              </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Cầm đồ ở DANA88 có gì khác với tiệm cầm đồ xung quanh? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Chuỗi Cầm đồ và Thu mua DANA88 đề cao chất lượng dịch vụ đối với khách hàng lẫn tài sản của khách hàng. Khi đến với các cửa hàng của chúng tôi, khách hàng sẽ có cảm giác an tâm vì tài sản của mình được bảo quản kỹ lưỡng với quy trình minh bạch, giá trị cầm gần với giá trị sản phẩm nhất và lãi suất vay cạnh tranh.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Khi cầm đồ cần chuẩn bị những thủ tục gì? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p style="padding-bottom: 10px;">
              Trường hợp khách hàng muốn vay tiền tại Vietmoney cần phải chuẩn bị những thủ tục sau:
            </p>
            <ul>
              <li>Vay cầm cố bằng ô tô, xe máy: CMND/CCCD/Hộ chiếu, đăng ký xe chính chủ</li>
              <li>Vay cầm cố bằng các tài sản khác: CMND/CCCD/Hộ chiếu và tài sản cầm cố</li>
            </ul>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Tôi có thể nhận khoản vay của mình như thế nào tại DANA88? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Hình thức nhận tiền vay tại Vietmoney rất linh hoạt, tùy theo yêu cầu của khách hàng. Khách hàng có thể lựa chọn nhận tiền mặt hoặc chuyển khoản ngân hàng.              </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Cầm đồ với DANA88 thì lãi suất là bao nhiêu? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Lãi cầm đồ dao động từ 5%-10%
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question"> Khách hàng của DANA88 là ai?? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nhóm đối tượng chúng tôi thường xuyên phục vụ bao gồm các đối tượng khách hàng sinh sống và làm việc tại Việt Nam với độ tuổi từ 20 – 60 tuổi trên toàn quốc.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <p>DANA88 Được thành lập bởi</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="member">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="member">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="member">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->



</main><!-- End #main -->
