<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<footer class="text-center text-lg-start">
  <div class="container d-flex justify-content-center py-5">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #14a2f9;">
      <i class="fab fa-facebook-f"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #F00600;">
      <i class="fab fa-youtube"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #f06d2f;">
      <i class="fab fa-instagram"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #1d9bf0;">
      <i class="fab fa-twitter"></i>
    </button>
  </div>

  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023:
    <a class="text-white" style="text-decoration: none" href="https://mdbootstrap.com/">Furama Management@</a>
  </div>
</footer>
