<h3>Thêm mới sinh viên </h3>
<form [formGroup]="createForm" (ngSubmit)="onSave()">
<!--  <div class="form-group row">-->
<!--    <label class="col-sm-2 col-form-label " for="id">Mã SV :</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input id="id" class="form-control " formControlName="id" type="text" disabled >-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label " for="nameStudent">Ten Sinh Vien :</label>
    <div class="col-sm-10">
      <input id="nameStudent" class="form-control "  formControlName="nameStudent" type="text">
    </div>
    <div class="col-sm-10">
      <div style="color: red" *ngIf="!createForm.controls.nameStudent.valid && (createForm.controls.nameStudent.dirty || createForm.controls.nameStudent.touched)">
        <span *ngIf="createForm.controls.nameStudent.hasError('required')">Nhập tên của bạn </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="dateOfBirth">Ten De Tai :</label>
    <div class="col-sm-10">
      <input id="dateOfBirth" class="form-control "  formControlName="nameTopic" type="text">
    </div>
    <div class="col-sm-10">
      <div style="color: red" *ngIf="!createForm.controls.nameTopic.valid && (createForm.controls.nameTopic.dirty || createForm.controls.nameTopic.touched)">
        <span *ngIf="createForm.controls.nameTopic.hasError('required')">Hãy nhập tên đề tài </span>
      </div>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-sm-2 col-form-label" for="email">Email :</label>
    <div class="col-sm-10">
      <input id="email" class="form-control "  formControlName="email" type="email" >
    </div>
    <div class="col-sm-10">
      <div style="color: red" *ngIf="!createForm.controls.email.valid && (createForm.controls.email.dirty || createForm.controls.email.touched)">
        <span *ngIf="createForm.controls.email.hasError('required')">Hay nhap email cua ban </span>
        <span *ngIf="createForm.controls.email.hasError('email')">Email khong đúng. VD:a@.gmail.com</span>
      </div>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-sm-2 col-form-label" for="sdt">SDT :</label>
    <div class="col-sm-10">
      <input id="sdt" class="form-control "  formControlName="phoneNumber" type="text" >
    </div>
    <div class="col-sm-10">
      <div style="color: red" *ngIf="!createForm.controls.phoneNumber.valid && (createForm.controls.phoneNumber.dirty || createForm.controls.phoneNumber.touched)">
        <span *ngIf="createForm.controls.phoneNumber.hasError('required')">Hay nhap so dien thoai cua ban </span>
        <span *ngIf="createForm.controls.phoneNumber.hasError('pattern')">So dien thoai cua ban khong dung</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="teacher">Giao Vien Huong Dan:</label>
    <div class="col-sm-10">
      <select id="teacher" formControlName="teacher" class="form-select" >
        <option *ngFor="let gvien of giaoVien" [ngValue]="gvien">{{gvien.nameTeacher}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="group">Nhóm :</label>
    <div class="col-sm-10">
      <select id="group" formControlName="group" class="form-select">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.nameGroup}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" routerLink="/list">Trở về</button>
      <button type="submit" class="btn btn-primary" >Lưu lại</button>
    </div>
  </div>
</form>
