<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #eb5d1e">Khác</h1>
        <h2>Tất cả những tài sản mà banj cho rằng nó có giá trị cao. Hãy mang đến cho chúng tôi</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Đăng kí ngay</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/pawn/art.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="section-title">
        <p>Cầm Đồ</p>
      </div>
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/img_pawn/buc-tranh.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-fingerprint"></i></div>-->
            <h4 class="title"><a href="">Tình hình</a></h4>
            <p class="description">Nếu bạn sở hữu những món đồ có giá trị cao, mà khi gặp khó khăn
            về tài chình, nó có thể xoay sở giúp bạn</p>
          </div>

          <div class="icon-box">
            <!--            <div class="icon"><i class="bx bx-gift"></i></div>-->
            <h4 class="title"><a href="">Lý do lựa chọn DANA88</a></h4>
            <p class="description">Tuy nhiên, không phải nơi nào cũng chấp nhận cầm, hoặc cầm với lãi suất tốt.
              Rất nhiều tiệm không thể đánh giá đúng giá trị tài sản, hoặc đưa ra mức lãi suất vô cùng cao,
              gây khó khăn cho người đi cầm. </p>
            <p class="description">Tại DANA88 máy ảnh được bảo quản cẩn thận và đảm bảo nguyên vẹn khi hoàn trả </p>
            <p class="description">Hãy đem đến đây với chúng tôi, sẽ có chuyên gia đánh giá giá trị của món đồ mà bạn mang tới </p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->



</main><!-- End #main -->
