<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1 class="text-light"><a routerLink="/">DANA<span style="color:#eb5d1e">88</span></a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="">Trang chủ</a></li>

        <li><a class="nav-link scrollto" href="#portfolio" >Dịch vụ</a></li>
        <li><a class="nav-link scrollto" href="#">Tin tức</a></li>
        <li class="dropdown"><a href="#contact" routerLink="/"><span>Cầm đồ</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/camera">Máy ảnh</a></li>
            <li><a routerLink="/bike" >Xe máy</a></li>
            <li><a routerLink="/car" >Ô tô</a></li>
            <li><a routerLink="/phone" >Điện thoại</a></li>
            <li><a routerLink="/watch">Đồng hồ</a></li>
            <li><a routerLink="/bag">Túi xách</a></li>
            <li><a routerLink="/gold">Trang sức, vàng</a></li>
            <li><a routerLink="/diamond">Kim cương</a></li>
            <li><a routerLink="/estate">Nhà đất</a></li>
            <li><a routerLink="/laptop-computer">Máy tính</a></li>
            <li><a routerLink="/appliance">Thiết bị điện tử</a></li>
            <li><a routerLink="/art">Khác</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Liên hệ</a></li>
        <li><a class="getstarted scrollto" href="#contact" >Đăng kí ngay</a></li>
      </ul>
      <span><i class="bi bi-list mobile-nav-toggle" ></i></span>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<!--<header class="header">-->
<!--  <a href="#" class="logo"> <i class="fas fa-coffee"></i> Coffee Shop</a>-->

<!--  <nav class="navbar">-->
<!--    <div id="close-navbar" class="fas fa-times" (click)="menu_close()"></div>-->
<!--    <a href="#">home</a>-->
<!--    <a href="#about">about</a>-->
<!--    <a href="#menu">menu</a>-->
<!--    <a href="#contact">contact</a>-->
<!--  </nav>-->

<!--  <div class="icons">-->
<!--    <div id="menu-btn" class="fas fa-bars" (click)="menu_btn()"></div>-->
<!--  </div>-->

<!--</header>-->
